* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    cursor: url(assets/cursor.svg), auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.home {
    width: 100%;
    height: 100%;
    background: linear-gradient(39deg, #FFF6EA, #ffd8a51e), url(assets/bg.png);
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 10vh;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    z-index: 9999;
}

.links {
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 1vw;
}

.links a li {
    font-size: 1.2vw;
}

.links li {
    position: relative;
}

.links li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 100%;
    border-radius: 10px;
    background-color: #333;
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
}

.links li:hover::before {
    transform: scaleX(1);
}

.links a {
    color: #3F3F3F;
}

.logo img {
    height: 5rem;
}

/* dropdowns */
.dropdown-1{
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 60vh;
    top: -50vw;
    left: 0;
    background-image: url(assets/drop-bg.png);
    background-position: center;
    background-size: cover;
}

.content-menu-1 {
    display: flex;
    justify-content: center;
    padding: 2vw;
    gap: 5vw;
}

li.menu-heading {
    font-size: 1.4vw;
    font-weight: 500;
}

.row-menu {
    width: 20%;
}

.row-menu li {
    line-height: 2.4vw;
    font-size: 1vw;
}
.drop1-imgs{
    height: 100%;
    position: relative;
    display: flex;
    gap: 2vw;
}
.drop-imgs img{
    width: 45%;
    border-radius: 1vw;
    border: 1px solid #333;
}
/* dropdown 2 */

.dropdown-2{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 60vh;
    top: -50vw;
    background-image: url(assets/drop-bg2.png);
    background-position: center;
    background-size: cover;
}
/* dropdown 3 */
.dropdown-3-navigation{
    position: relative;
}
.dropdown-3{
    position: absolute;
    width: 20vw;
    height: 20vw;
    margin-top: 1vw;
    top: -50vw;
    right: 16%;
    background-image: url(assets/drop-bg3.png);
    background-position: center;
    background-size: cover;
    border-radius: 1vw;
    padding: 2vw;
    line-height: 3vw;
    color: rgb(8, 8, 8);
}
/* home */

.home-content {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    overflow: hidden;
}

.right-home {
    top: 5%;
    position: relative;
    width: 40%;
}

.right-home img {
    height: 35vw;
    border-radius: 20px;
}

.swiper {
    position: relative;
    width: 80%;
}

.left-home {
    width: 60%;
}

.left-home h1 {
    font-family: 'baloo 2';
    font-size: 4vw;
    line-height: 4.5vw;
}

.left-home p {
    font-size: 1.1vw;
}

.btn {
    position: relative;
    margin-top: 1vw;
    border: 1px solid #000;
    padding: 1vw 2vw;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    z-index: 99;
    transition: color 0.4s ease;
}

.btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 100%;
    left: 0;
    border-radius: 100%;
    transition: 0.6s ease;
    z-index: -999;
}

.btn:hover::before {
    border-radius: 10px;
    top: 0;
}

.btn:hover {
    color: #fff;
}